* {
  font-family: sans-serif;
}

body {
  line-height: 1.5;
}

.article {
  border: 5px solid black;
}

.heading {
  font-size: 22px;
  background-color: #f7f7f7;
  text-transform: uppercase;
  text-align: center;
}

.price {
  font-size: 22px;
  font-weight: bold;
}

.shipping-type {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}

.more-info:link {
  color: black;
}

.more-info:visited {
  color: black;
}

.more-info:hover {
  text-decoration: none;
}

.product-details {
  list-style-type: square;
}

.add-to-cart {
  font-size: 20px;
  text-transform: uppercase;
  color: white;
  background-color: black;
  cursor: pointer;
  border: none;
}

.add-to-cart:hover {
  color: black;
  background-color: #f7f7f7;
}
